<%= link_to 'new', new_locale_translation_path(locale_id: @locale) %>

<table>
  <% @translations.each do |key, value| %>
    <tr>
      <td>
        <%= key %>
      </td>
      <td>
        <%= link_to edit_locale_translation_path(
            locale_id: @locale, id: key) do %>
          <%= value %>
          <% if value.blank? %>
            <span class="translation_missing">missing</span>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= form_tag locale_translation_path(locale_id: @locale, id: key),
            method: :delete %>
          <input type="submit" value="remove" />
        </form>
      </td>
    </tr>
  <% end %>
</table>
